In [2]:
import logging
import sys
from IPython.display import Markdown,display
import pandas as pd
from llama_index.core.query_engine import PandasQueryEngine
logging.basicConfig(stream=sys.stdout,level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

In [3]:
ANTHROPIC_API_KEY = "API-KEY"

In [4]:
from llama_index.llms.anthropic import Anthropic
llm = Anthropic(temperature=0.1,model="claude-3-opus-20240229",api_key=ANTHROPIC_API_KEY)

In [5]:
df = pd.read_csv("Salary_Data.csv")
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [6]:
df.shape

(375, 6)

In [7]:
df['Job Title'].value_counts()

Job Title
Director of Marketing              12
Director of Operations             11
Senior Business Analyst            10
Senior Marketing Analyst            9
Senior Marketing Manager            9
                                   ..
Business Development Manager        1
Customer Service Representative     1
IT Manager                          1
Digital Marketing Manager           1
Junior Web Developer                1
Name: count, Length: 174, dtype: int64

In [8]:
from llama_index.experimental.query_engine import PandasQueryEngine
query_engine = PandasQueryEngine(df=df,llm=llm,verbose=True)

In [10]:
response = query_engine.query(
    "What is the correlation between Age and Years of Experience?"
)

INFO:httpx:HTTP Request: POST https://api.anthropic.com/v1/messages?beta=tools "HTTP/1.1 200 OK"
HTTP Request: POST https://api.anthropic.com/v1/messages?beta=tools "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df['Age'].corr(df['Years of Experience'])
```
> Pandas Output: 0.979128050352751

In [11]:
display(Markdown(f"{response}"))

0.979128050352751

In [12]:
response = query_engine.query(
    "How many missing values in the dataset?"
)

INFO:httpx:HTTP Request: POST https://api.anthropic.com/v1/messages?beta=tools "HTTP/1.1 200 OK"
HTTP Request: POST https://api.anthropic.com/v1/messages?beta=tools "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df.isnull().sum().sum()
```
> Pandas Output: 12

Done